#game-container {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


#board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 2px 2px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . . . . ."
    ". . . . . . . ."
    ". . . . . . . ."
    ". . . . . . . ."
    ". . . . . . . ."
    ". . . . . . . ."
    ". . . . . . . ."
    ". . . . . . . ."
    ". . . . . . . ."
    ". . . . . . . .";
  height: 60vh;
  width: calc(60vh * 8/10);
}

.col {
  aspect-ratio: 1 / 1;
  background-color: gray;
  /* border: 1px solid black; */
}

